*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
color:white;
}

 /* body and container section */
body{
background-size: cover;
background-image: url("./assest/images/pic 4.avif" );
}

.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
position: relative;

 } 
 /* all clock section  */

.clock{
  
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: gray;
    border: 0.3rem solid teal;
box-shadow: 0px 0px 40px teal;
justify-content: center;
display: flex;
align-items: center;
position: relative;
}
.clock span{
transform: rotate(calc(30deg * var(--i)));
    position: absolute;
inset: 12px;
}

.clock::before{
position: absolute;
border-radius: 60px;
background-color:whitesmoke;
width: 1rem;
height: 1rem;
content: '';
box-shadow:0px 0px 2rem teal;
border: 0.3rem solid teal;
}
.clock span b{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 1.6rem;
}

/* all hand section */
.hand i{
    background-color: var(--clr);
position: absolute;
width: 0.4rem;
height: var(--l);
border-radius: o.4rem;
}
.hand{
justify-content: center;
display: flex;
align-items: flex-end;
position: absolute;
}